* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

body {
  color: rgb(255, 255, 255);
  background: #0d1117;
}

main {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: lightgrey;
  }
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: #0d1117;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#doticon {
  opacity: 0;
  animation: fade 3s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
